$white: #E7E1E0;
$black: #2F2F1B;
$gold: #E8AB16;
$blue: #324A60;

$font-stack-primary: 'Amaranth', sans-serif;
$font-stack-secondary: 'Alex Brush', sans-serif;
$font-stack-tertiary: 'Amatic SC', sans-serif;