@use './../utils/' as u;

.sp-footer {
    background-color: u.$black;

    &__author {
        background-color: u.$black;
        color: u.$gold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66%;
        margin: 0 auto;
        padding: .5rem 0;

        &__social-media a:nth-of-type(1) {
            margin-right: .5rem;
        }

        &__social-media i {
            color: u.$gold;
        }
    }
}