.sp-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66.75%;
    margin: 0 auto;
}

.sp-gallery img {
    height: auto;
    width: 33%
}

.sat {
    transform: translateX(-10000px);
    transition: transform .5s ease;
}

.sat.show {
    transform: translateX(0);
}

@media (max-width: 900px) {
    .sp-gallery {
        width: 100%;
    }
}