.sp-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66.75%;
    margin: 0 auto;
}

.sp-gallery img {
    height: auto;
    width: 33%
}

@media (max-width: 900px) {
    .sp-gallery {
        max-width: 100%;
    }
}