.sp-hero-section {
    max-width: 66%;
    margin: 0 auto;

    &__hero-image {
        max-width: 100%;
        margin: -20rem 0 0;
    }
}

@media (max-width: 900px) {
    .sp-hero-section {
        max-width: 100%;
    }
}