@use './../utils/' as u;

.sp-newsletter {
    max-width: 66%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;

    &__prompt {
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__input {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        max-width: 40%;
    }

    &__input input {
        padding: .5rem;
        border: none;
        border-bottom: 2px solid u.$black;
        margin-bottom: 1.5rem;
        background-color: transparent;
        font-size: 1rem;
    }

    &__input input::placeholder {
        color: u.$black;
        font-family: u.$font-stack-primary;
    }

    &__input button {
        font-family: u.$font-stack-primary;
        background-color: u.$blue;
        color: u.$gold;
        border-radius: 5px;
        padding: .5rem;
        font-weight: 700;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    }

    &__input button:hover {
        background-color: u.$black;
        transition: .1s ease;
    }
}

@media (max-width: 900px) {
    .sp-newsletter {
        width: 100%;
    }
}